@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

::-webkit-scrollbar{
    background: black;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: white;
}
::-moz-scrollbar{
    background: black;
    width: 10px;
}
::-moz-scrollbar-thumb{
    background: white;
}

:root{
    --main-blue: #45567d;
    --main-blue-dark : #101622;
    --headermain:#DC755F;
    --fontmain: whitesmoke;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

/* Utilities */

img{
    max-width: 100%;
    display: block;
}

#header{
    /* opacity: 0.1; */
    display: flex;
    align-items: center;
    justify-content: end;
    background: var(--headermain);
    width: 100%;
    height: 5rem;
    position: fixed;
    top:0;
    left: 0;
    
}

#header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    height: inherit;
}

nav ul li{
    font-size: 1.5rem;
    margin: 0 5px;
    padding: 0.1rem;
    list-style: none;
    height: inherit;
}
#header nav ul li a{
    padding: 8px;
    height: inherit;
    text-decoration: none;
    color: var(--fontmain);
}
nav ul li a:hover{
    background-color: #45567d;
    border-radius: 2px;
}
.about{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* margin-bottom: 100px; */
    background-color: var(--main-blue);
    background: url('https://www.codewithkartik.com/wp-content/uploads/2021/07/code-blue-landscape-1.jpg');
    background-size: cover;
    background-position: center center;
    display: block;
    position: relative;
    z-index: -11;
}

.about > div{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
.about > div h1{
    color: var(--fontmain);
    font-size: 2.7rem;
}
.about > div span{
    font-size: 1.5rem;
    color: var(--headermain);
}

/* Projects Section */

.projects-main{
    width: 100%;
    background: var(--main-blue);
    padding-top: 80px;
}

.projects-grid{
    display: flex;
    flex-direction: column;
}

.heading-text{
    width: inherit;
    justify-self: center;
    align-self: center;
}

.heading-text > h1{
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 6px solid white;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
    color: var(--fontmain);
    padding:0;
    margin-left: auto;
    margin-right: auto;
    /* padding-top:40px; */
}


.projects-container{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}
.project-card{
    width: 100%;
    background: var(--main-blue-dark) ;
}
.project-card img{
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.project-card > .project-tile{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
}


.project-title span{
    color: var(--headermain);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}    


.project-card:hover span{
    visibility: visible;
    opacity: 1;
    transition: display 2sec ease;
}
.projects-container .show-more{
    width: 10rem;
    font-size: 1.7rem;
    grid-column-start: 2;
    justify-self:center; 
    height: 3rem;
    background: var(--main-blue-dark);
    display: flex;  
    justify-content: center;
    margin: 30px auto;
    align-items: center ;
}
.show-more a{
    color: white;
    text-decoration: none;
}

.show-more i{
    font-size: 1.4rem;
}

.show-more:hover{
    background-color: var(--headermain);
    text-decoration: none;
}

/* Contact me Section */

.contact{
    width: 100%;
    background-color: var(--main-blue-dark);
    color: var(--fontmain);
}
.wrapper{
    display: grid;
    justify-content: center;
    /* align-items: center; */
    grid-template-columns: 1fr;
    row-gap: 20px;
    border-bottom: 1px solid var(--headermain);
    padding-block: 150px;
}
.wrapper h1{
    font-size: 4rem;
    justify-self: center;
    /* grid-column-start: 1;
    grid-column-start: 6; */
}
.wrapper h3{
    font-size: 1.4rem;
    font-weight: lighter;
    font-style: italic;
    justify-self: center;
}
.wrapper .socials{
    margin-top: 10px;
    justify-self: center;
}
.contact a{
    color: var(--fontmain);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10px 20px;
    display: inline-block;
    transition: all .3s ease-in-out;
}
.contact a i{
    margin-right: 10px;
}
.contact a:hover{
    transform: translate(0, 6px);
    color: var(--headermain);
}


/* Footer */

footer{
    font-size: 1rem;
    background-color: var(--main-blue-dark);
    text-align: center;
}
footer p{
    padding: 20px;
}
footer span{
    padding-bottom: 10px;
    display: block;
    /* background: #101622; */
}
footer p, span{
    color: var(--fontmain);
    /* padding: 20px; */
}




/* Media Queury */

@media  (max-width: 700px){
    .projects-container{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 10px;
    }  
    .project-card{
        width: 90%;
        display: block;
        background: var(--main-blue-dark) ;
    }
    .project-card img{
        width: 100%;
        display: block;
        max-height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    
    .project-card > .project-tile{
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        text-align: center;
    }
    
    
    .project-title span{
        color: var(--headermain);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }    
    
    
    .project-card:hover span{
        visibility: visible;
        opacity: 1;
        transition: display 2sec ease;
    }
    .projects-container .show-more{
        width: 10rem;
        font-size: 1.7rem;
        grid-column-start: 2;
        justify-self:center; 
        height: 3rem;
        background: var(--main-blue-dark);
        display: flex;  
        justify-content: center;
        margin: 30px auto;
        align-items: center ;
    }
    .show-more a{
        color: white;
        text-decoration: none;
    }
    
    .show-more i{
        font-size: 1.4rem;
    }
    
    .show-more:hover{
        background-color: var(--headermain);
       text-decoration: none;
    }
}